<app-main-header></app-main-header>
<div class="container">
<div *ngIf = 'favItems && favItems.length !== 0; else empty' class="favItems">
  <div *ngFor="let item of favItems" class="fav">
    <div class="fav_right">
      <div *ngIf="item.poster_path !== null; else dummy" class="img_block" >
        <img alt="" src="http://image.tmdb.org/t/p/w342{{item.poster_path}}">
      </div>
    </div>
    <div class="fav_left">
      <div class="top_block">
       <div class="unfav_button" (click) = "removeFav(item)">Remove From Favorites</div>
        <div class="text">
          <div class="name">{{item.original_title}}</div>
          <div class='date'>{{item.release_date}}</div>
        </div>
      </div>
        <div class='overview'>{{item.overview}}</div></div>
  </div>
</div>
</div>


<ng-template #empty>
  <div class="empty_block">No favorite Items</div>
</ng-template>
<ng-template #dummy>
  <img alt="" src="assets/img/dummy.jpg">
</ng-template>
