section.info {
  padding-top:40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  min-height: 500px;
}


.header{
  margin-top:20px;
  font-size:22px;
  font-weight:bold;
  padding: 0 30px;
  margin-bottom:20px;
}

.pagination ::ng-deep .disabled{
  padding:13px 20px!important;
}
.pagination ::ng-deep .ngx-pagination li{
  border:1px solid;
  font-weight:bold;
  padding:10px;
  margin: 0 -1px
}
.pagination ::ng-deep .ngx-pagination li:hover,
.pagination ::ng-deep .ngx-pagination .current {
  background: transparent;
  color:green;

}
.pagination ::ng-deep .ngx-pagination .current{
  padding:13px 20px;
}
.pagination{
  margin-top:20px;
  display: flex;
  align-self: center;
  justify-content: center;
}

@media(max-width:450px){
  .header{
    text-align: center;
  }

}
