.modal {
  position: fixed;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 0;
  left: 0;
  overflow-y: auto;
  opacity: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition-duration: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition-duration: 0.4s;
}


.open {
  z-index: 200;
  height: 100%;
  opacity: 1;
  transition-duration: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition-duration: 0.4s;
}

.backposter:before{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
  content:"";
}


.backposter {
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  z-index: 100;
  filter: blur(10px);
  top: 0;
}

.button_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
  margin-top: 60px;
}

.next_movie{
right:0;
  padding-right:70px;
  background-image:url("../../../assets/img/right.png");
  background-position:right;
  top:110px;
}
.movie_header{
  color:#fff;
  font-size:28px;
}
.prev_movie{
  padding-left:70px;
  left:0;
  background-image:url("../../../assets/img/left.png");
  background-position:left;
  top:110px;
}

.button_row .next_movie, .button_row .prev_movie {
  color: #fff;
  position:absolute;
  cursor: pointer;
  font-size:25px;
  font-weight:bold;
  background-repeat: no-repeat;
  padding-top:20px;
  padding-bottom:20px;
  margin-bottom: 10px;
}

.modal_container .center {
  margin-top: 40px;
  padding: 20px 10px 40px 10px;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  line-height: 32px;
  font-size: 28px;
}


.modal_container .right {
  margin-left: 50px;
  width: 100%;
}
.modal_container .right .header {
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 40px;
}
.modal_container .close_modal {
  position: absolute;
  right: 20px;
  top: 35px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}



.modal_container .info_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  font-weight: bold;
  margin: 60px auto 20px auto;
  font-size: 30px;
}
.modal_container .info_block div{
  max-width:33.3%;
  width:100%;
  display: flex;
  padding-top:10px;
  padding-bottom:10px;
  align-items:center;
  justify-content: center;
}

.score{
  border-right: 1px solid #fff;
}

.release{
  border-right:1px solid #fff;
}

.modal_container {
  max-width:95%;
  padding:200px 0 0 0;
  margin: 100px auto 0 auto;
  width: 100%;
  position: relative;
  z-index:100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  border-radius: 20px;
  box-sizing: border-box;
}


.unfav_button,
.modal_container .fav_button {
  width: 200px;
  border:1px solid #Fff;
  height: 45px;
  font-weight:bold;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#Fff;
  border-radius: 8px;
  background-size: 100% auto;

  background-repeat: no-repeat;
  background-position: center;
}


.disabled{
  display:none!important;
}



.modal_container .close_modal {
  position: absolute;
  right: 20px;
  top: 35px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.modal_container .close_modal .line {
  width: 100%;
  height: 2.5px;
  position: absolute;
  background-color: #fff;
}

.modal_container .close_modal .line:nth-child(1) {
  transform: rotate(45deg);
}

.modal_container .close_modal .line:nth-child(2) {
  transform: rotate(-45deg);
}
@media(max-width:800px){
  .modal_container .right{
    margin-left:0;
  }
  .modal{
    align-items: flex-start;
  }
  .modal .left{
    margin:0 auto;
  }
  .modal img{
    width:100%;
    box-sizing: border-box;
  }
  .modal_container{
    flex-direction: column;
    padding: 50px 10px 10px 10px;
    align-items:flex-start;
    max-width:100%;
    justify-content: flex-start;
  }
  .modal_container .info_block div{
    margin-bottom:10px;
  }

  .modal .center{
    font-size:20px;
  }

  .modal .right .header{
    font-size:30px
  }
  .modal_container .info_block{
    flex-direction: column;
    font-size:24px;
    max-width: 100%;
    margin:10px 0;
    text-align: left;
    align-items: flex-start;
  }
}
