.modal {
  position: fixed;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 0;
  left: 0;
  overflow-y: auto;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  -webkit-transition: 0.4s;

  -o-transition-duration: 0.4s;
}


.open {
  z-index: 200;
  height: 100%;
  opacity: 1;
  transition-duration: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition-duration: 0.4s;
}

.backposter:before{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.4);
  content:"";
}
.unfav_button:before, .modal_container .fav_button:hover:before, .modal_container .added:before {
  content: '\2713' !important;
}

.unfav_button:before, .modal_container .fav_button:before {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #000;
  border-radius: 360px;
  background-color: #fff;
  content: '+';
  position: absolute;
  right: -10px;
  top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backposter {
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  z-index: 100;
  filter: blur(10px);
  top: 0;
}

.button_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
  margin-top: 60px;
}
.button_row .next_movie, .button_row .prev_movie {
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  padding-right: 20px;
  background-size: 10px;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.modal_container .center {
  margin-top: 40px;
  padding: 20px 10px 40px 10px;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  line-height: 32px;
  font-size: 28px;
}


.modal_container .right {
  margin-left: 50px;
  width: 100%;
}
.modal_container .right .header {
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 40px;
}
.modal_container .close_modal {
  position: absolute;
  right: 20px;
  top: 35px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.unfav_button, .modal_container .fav_button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
  background-size: 100% auto;
  background-image: url('/src/assets/img/fav.png');
  background-repeat: no-repeat;
  background-position: center;
}

.modal_container .info_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
  max-width: 80%;
  color: #fff;
  font-weight: bold;
  margin: 60px auto 20px auto;
  font-size: 30px;
}
.modal_container {
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  position: relative;
  z-index:100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  border-radius: 20px;
  box-sizing: border-box;
}


.unfav_button,
.modal_container .fav_button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
  background-size: 100% auto;
  background-image: url('src/assets/img/fav.png');
  background-repeat: no-repeat;
  background-position: center;
}


.disabled{
  display:none!important;
}

.unfav_button:before,
.modal_container .fav_button:before {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #000;
  border-radius: 360px;
  background-color: #fff;
  content: '+';
  position: absolute;
  right: -10px;
  top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unfav_button:before,
.modal_container .fav_button:hover:before,
.modal_container .added:before {
  content: '\2713' !important;
}

.modal_container .close_modal {
  position: absolute;
  right: 20px;
  top: 35px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.modal_container .close_modal .line {
  width: 100%;
  height: 2.5px;
  position: absolute;
  background-color: #fff;
}

.modal_container .close_modal .line:nth-child(1) {
  transform: rotate(45deg);
}

.modal_container .close_modal .line:nth-child(2) {
  transform: rotate(-45deg);
}
@media(max-width:800px){
  .modal_container .right{
    margin-left:0;
  }
  .modal{
    align-items: flex-start;
  }
  .modal .left{
    margin:0 auto;
  }
  .modal img{
    width:100%;
    box-sizing: border-box;
  }
  .modal_container{
    flex-direction: column;
    padding: 50px 10px 10px 10px;
    align-items:flex-start;
    max-width:100%;
    justify-content: flex-start;
  }
  .modal_container .info_block div{
    margin-bottom:10px;
  }

  .modal .center{
    font-size:20px;
  }

  .modal .right .header{
    font-size:30px
  }
  .modal_container .info_block{
    flex-direction: column;
    font-size:24px;
    max-width: 100%;
    margin:10px 0;
    text-align: left;
    align-items: flex-start;
  }
}
