<div class="modal movie_modal">
  <div class="modal_container">
    <div class="ex close_modal">
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="left">
      <div class="movie_img imgBlock"><img src="http://image.tmdb.org/t/p/w342{{row.poster_path}}"></div>
    </div>
    <div class="right">
      <div class="button_row">
        <div class="col">
          <div class="next_movie">Next</div>
          <div class="prev_movie">Prev</div>
        </div>
      </div>
      <div class="ratings info_block">
        <div class="sub_info score">Score: <span class="scores"> </span></div>
        <div class="sub_info ratings">Rating: <span class="rates"> </span></div>
        <div class="sub_info release">Release Date:<span class="date"> </span></div>
      </div>
      <div class="center movie_text">
        <div class="header movie_header"></div>
        <div class="txt movie_txt">

        </div>
      </div>
    </div>

  </div>
</div>
