<div class ="modal movie_modal" [ngClass]="open === true ? 'open' : ''"  >
  <div class="backposter" style="background-image: url(http://image.tmdb.org/t/p/w342{{row.poster_path}});"></div>
  <div class="modal_container">
    <div class="ex close_modal" (click)="killModal()">
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="left">
      <div class="movie_img imgBlock"><img alt = '' src="http://image.tmdb.org/t/p/w342{{row.poster_path}}"></div>
    </div>
    <div class="right">
      <div class="button_row">
          <div class="next_movie" [ngClass] = "disabler1 === true ? 'disabled': ''" (click)="swapMovie(1)">Next Movie</div>
          <div class="prev_movie" [ngClass] = "disabler2 === true ? 'disabled': ''" (click)="swapMovie(-1)">Prev Movie</div>
        <div class="header movie_header">{{row.title}}</div>
        <div [ngClass]="isFav === true? 'unfav_button':'fav_button'" (click)="addToFav()"><span *ngIf="isFav === false;else remove">Add To Favorites</span></div>
      </div>
      <div class="ratings info_block">
        <div class="sub_info score">Score: <span class="scores span">{{row.vote_average}}</span></div>
        <div class="sub_info release">Ratings: <span *ngIf = "row.adult === false;else restricted" class="rating span">PG13</span></div>
        <div class="sub_info date">Release Date:&nbsp;<span class="date span"> {{row.release_date}}</span></div>
      </div>
      <div class="center movie_text">

        <div class="txt movie_txt">
          {{row.overview}}
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #restricted>
  <span class="rating span">R</span>
</ng-template>
<ng-template #remove>
  <span>Remove Favorite</span>
</ng-template>
