
<div class="items">
<div *ngFor="let item of cardList" class="item" (click)="openModal(item.id)">
    <div class="text">
      <div class="name">{{item.title}}</div>
      <div class="date">{{item.release_date}}</div>
    </div>
    <div *ngIf="item.poster_path !== null; else dummy" class="img_block" >
      <img alt="" src="http://image.tmdb.org/t/p/w342{{item.poster_path}}">
    </div>
  </div>
<ng-template #dummy>
  <img alt="" src="assets/img/dummy.jpg">
</ng-template>
</div>
<app-modal *ngIf="row"
           [row] = row
           [open] = open
           [cardList] = cardList
           (openingKey)="openingKey()"></app-modal>



