.item img {
  transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  height:auto;
  width: 100%;
}
.items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 275px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}




.item:hover img {
  filter: blur(10px);
  transition-duration: 0.4s;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition-duration: 0.4s;
}

.text {
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
  bottom: -100%;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition-duration: 0.4s;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition-duration: 0.4s;
  font-size: 16px;
  font-weight: bold;

}

.item:hover .text {
  bottom: 0;
  opacity: 1;
  z-index: 2;
  height: auto;
  transition-duration: 0.4s;
  -webkit-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition-duration: 0.4s;
}
