section.info .header {
  margin-bottom: 20px;
}

button{
  outline: none;
}

.top_block {
  left: 0;
  top: 0;
  width: 100%;
  padding:15px 0;
  z-index: 100;
}
.info .header{
  margin:50px auto;
  text-align: center;
}

.logo{
  color:#fff;
}

.logo img {
  max-width: 85px;
}

header .container{
  display: flex;flex-flow:row nowrap;
  align-items: center;
  justify-content: space-between;
}

.descriptor{
  font-weight:bold;
  margin-left:10px;
  font-size:23px;
}
header .toAccount, footer .toAccount:hover{

}
header .toAccount, footer .toAccount {
  font-weight: bold;
  background-position: 85% center;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-size: 15px;
  background-image: url(../../../assets/img/down.png);
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  box-shadow: 4px 4px 3px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  justify-content: flex-start;
  font-size: 16px;
  height: 45px;
  max-width: 150px;
  z-index: 1;
  width: 100%;
  position: relative;
  cursor: pointer;
}


@media(max-width:450px){
  .logo .descriptor{
    display:none
  }
}
