section.info .header {
  margin-bottom: 20px;
}

.top_block {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 4px 5px 7px 1px rgba(0,0,0,0.4);
}
.info .header{
  margin:50px auto;
  text-align: center;
}

.logo{
  color:#fff;
}

.logo img{
  max-width:80px;
}
header .container{
  display: flex;flex-flow:row nowrap;
  align-items: center;
  justify-content: space-between;
}

header .toAccount, footer .toAccount {
  font-weight: lighter;
  color: #444;
  background-color:#eeeeee;
  border:1px solid #6e6e6e;
  box-shadow: 4px 4px 3px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  font-size: 16px;
  height: 35px;
  max-width: 200px;
  z-index: 1;
  width: 100%;
  position: relative;
  cursor: pointer;
}
