section.info .header {
  margin-bottom: 20px;
}

.top_block {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo{
  color:#fff;
}

.logo img{
  max-width:120px;
}
header .container{
  display: flex;flex-flow:row nowrap;
  align-items: center;
  justify-content: space-between;
}

header .toAccount, footer .toAccount {
  font-weight: lighter;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  font-size: 16px;
  height: 35px;
  border: 1px solid #fff;
  max-width: 200px;
  z-index: 1;
  width: 100%;
  position: relative;
  cursor: pointer;
}
